<h2 class="task-list-title">Task Lists</h2>

<table class ="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

        <tbody>
            <tr *ngFor ="let task of tasks" >
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.status}}</td>
                <td> 
                    <button (click) = "updateTask(task.id)" class="btn btn-info">Update</button>
                    <button (click) = "deleteTask(task.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                    <button (click) = "viewDetails(task.id)" class="btn btn-info" style="margin-left: 10px;">View</button>

                </td>  
            </tr>
        </tbody>
    </table>
